{{!-- Footer Page --}}
<footer id="footer" class="footer">
  <div class="footer-wrap">
    <div class="copy"><a href="mailto:ccaelums@gmail.com?subject=Hi">Contact me.</a> </div>
    <div class="by">
      <a href="https://github.com/godofredoninja/Mapache"><span class="icon-favorite"></span> <span>Theme by GodoFredo</span></a>
    </div>
  </div>
</footer>
<div class="overlay"></div>
